#header-sect {
    position: relative;
    overflow: hidden;

    height: 100vh;
}

#header-sect::before {
    content: "";

    position: absolute;
    top: var(--bgScroll);    
    left: -10%;
    width: 120%;
    height: 120%;

    background-image: url('../assets/talikod/talikod_bg.png'), 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));    
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    filter: blur(10px);
    
    z-index: -1;
}

#parallax-fg {
    position: absolute;
    bottom: -30%;
    left: 50%;
    height: 125vh;

    object-fit: cover;
    transform: translateY(0) translateX(-50%);       
    
    z-index: -1;

    filter: blur(0px);
}