* {
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

body {    
    margin: 0;
    color: white;    
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
li {
    margin-top: 0.2em;
    margin-bottom: 0.2em;

    text-shadow: 0 0 5px rgba(0,0,0, 0.5);
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Bebas Neue", sans-serif;    
}
h1 {
    font-size: 3em;
}
p {
    font-family: "Open Sans";
}

.sect {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;

    height: 75vh;
    width: 100%;
}

.sect-partition {
    display: flex;
    flex-direction: column;

    padding: 50px;
}

.s-p-horizontal-center {
    align-items: center;
}

.s-p-vertical-center {
    align-self: center;
}

#sect1 {
    background-color: rgb(59, 70, 92);
    background: linear-gradient(45deg,
            #fc27c6,
            #ff2e62);

    grid-template-columns: 1fr 1fr;
}

#sect2 {    
    grid-template-columns: 1fr 1fr;    

    position: relative;
    overflow: hidden;
}
#sect2 p {
    text-shadow: 0 0 10px black;
}
#sect2::before {
    content: "";

    position: absolute;
    top: 0%;    
    left: 0%;
    width: 100%;
    height: 100%;

    background-color: #b5c2d8;
    background-image: url('../assets/cebpac_left.png');
    background-repeat: no-repeat;    
    background-position: left center;        
    
    z-index: -1;      
}

#sect3 {
    position: relative;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
}
#sect3::before {
    content: "";

    position: absolute;
    top: 0%;    
    left: 0%;
    width: 100%;
    height: 100%;

    background-color: #b5c2d8;
    background-image: url('../assets/violin.jpg'),
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;        
    
    z-index: -1;     
}

#sect4 {
    position: relative;
    overflow: hidden;
    grid-template-columns: 1.5fr 1fr;
}
#sect4::before {
    content: "";

    position: absolute;
    top: 0%;    
    left: -10%;
    width: 120%;
    height: 120%;

    background-color: #b5c2d8;
    background-image: url('../assets/archery.jpg'),
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;        
    
    z-index: -1;     
}

#sect2-text {
    justify-self: start;
}

.main-img {
    height: 100%;
    overflow: hidden;
    position: absolute;
}
#phoebe-img-2 {
    height: 70%;
    left: 65%;
    top: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0 0 10px #00000077;
    border-radius: 10px;    

    transition: height 0.5s ease,
                box-shadow 0.5s ease;
}
#phoebe-img-2:hover {
    height: 75%;   
    box-shadow: 0 0 10px #ffffffff; 
}

#sect1-phoebe {
    padding: 0px;

    height: 100%;
    width: 100%;
    overflow: hidden;

    justify-self: start;

    position: relative;    
}

#cebpac-bg {
    position: absolute;
    left: 0;
    max-height: 75vh;    
    
    overflow: hidden;
}

#sect2-text {
    z-index: 1;
}

#downbutton {
    color: inherit;
    text-decoration: none;
}

#downbutton:visited {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-aspect-ratio: 1.27) {
    .sect {
        grid-auto-flow: row;
        height: 100vh;
    }

    #sect1 {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
        justify-self: inherit;
    }

    #sect2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-template-columns: none;
    }

    #sect3, #sect4 {
        grid-template-columns: none;
    }

    .main-img, #phoebe-img-2 {
        position: relative;
        top: 0; left: 0;
        transform: none;
    }

    #sect1-phoebe.sect-partition {
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    #sect4-spacing, #sect2-spacing {
        display: none;
    }

    #sect2-phoebe {
        align-self: center;
    }

    #sect1-phoebe {
        justify-self: inherit;
    }
}

@media screen and (max-height: 600px) {
    .sect {
        height: 100%;
    }
}